::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

:root{
  --smooth-space-unit: 6vmin;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-blockseparator-1 + .c-blockseparator-1{
  /* margin-top: 1.8rem ; */
  margin-top: calc(var(--smooth-space-unit) * 1.8);
}
.c-blockseparator-2 + .c-blockseparator-2{
  /*margin-top: 0.7rem;*/
  margin-top: calc(var(--smooth-space-unit) * 1.2);
}
.c-blockseparator-3 + .c-blockseparator-3{
  /*margin-top: 0.45rem;*/
  margin-top: calc(var(--smooth-space-unit) * 1);
}