:root{

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1{
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-blockseparator > * + *{
  margin-top: 0.7rem;
}
.c-blockseparator + .c-blockseparator{
  margin-top: 1.8rem !important;
}
